body {
  margin: 0;
  font-family: Arial;
  background: #0a0f1c;
  color: white;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  padding: 20px;
}

.sidebar h2 {
  color: #00ff9f;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

/* Colors */
.red { background: #7f1d1d; }
.yellow { background: #78350f; }
.green { background: #064e3b; }

button {
  background: #00ff9f;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00cc7a;
}
